 <form name='regForm' action="" method="" >
 
 
 
 
 
 
    

        Name :<input type="text" name="username" placeholder="Pick a username"  style="color:black;text-align:center"
          ng-model="signup.user.username"
          required
          minlength="4"
          ng-maxlength="10">
          {{ signup.user.username }}
          <span
            ng-if="(regForm.username.$error.minlength || regForm.username.$error.required) && regForm.username.$touched">
            Username must be at least 4 characters long
          </span>
          <span ng-if="regForm.username.$error.maxlength && regForm.username.$touched">
            Username must not be longer than 10 characters
          </span>
          <br>

          Emailid:<input type="email" name="email" style="color:black;text-align:center"
          ng-model="signup.user.email"
          required>
          <span ng-if="regForm.email.$invalid && regForm.email.$touched">
            Must be a valid email address: handle@domain format
          </span>
          <br>

        Number:<input type="text" name="phone"  style="color:black;text-align:center"
          ng-model="signup.user.phone" required
          >
          <span ng-if="regForm.phone.$error.required && regForm.phone.$touched">
            please enter number
          </span>
          <br>
		  category:<input type="text" name="cat"  style="color:black;text-align:center"
          ng-model="signup.user.category" oninput="this.value = this.value.toUpperCase()"
          >{{signup.user.category}}
          
          <br>
		  
		  


			 
          <div style="margin-top: 10px;">
            Form valid? {{ regForm.$valid }}
          
		  
		  
		  </div>
		  
		  
		  
      </form>

<a
		  href="#/menu/{{signup.user.category}}"
		  >
        <button
          ng-disabled="regForm.$invalid"
		  ng-click="signup.submit()"
          
		 
		  >Submit
		  </button></a>


